<ion-content>
  <ion-slides pager="true">
  <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light" class="intro-text">
        <h1>Welcome</h1>
        <p>Imagine with all your mind.</p>
      </ion-text>
        <img src="assets/imgs/1.jpg">
    </ion-slide>



  <!-- Slide 2 -->
    <ion-slide>
    <img src="assets/imgs/2.jpg">
      <ion-text color="light" class="intro-text">
        <h1>Tadika Sinar Didik</h1>
        <p>Believe with all your heart.</p>
      </ion-text>
  </ion-slide>



  <!-- Slide 3 -->
    <ion-slide>
      <img src="assets/imgs/3.jpg">
        <ion-text color="light" class="intro-text">
          <h1>Bandar Sungai Buaya</h1>
          <p>Achieve with all your might.</p>
        </ion-text>
      </ion-slide>
    </ion-slides>
  </ion-content>



  <ion-footer>
      <ion-row class="ion-padding">
        <ion-col size="6" class="ion-text-left">
          <ion-button color="light" fill="outline" (click)="openSignup()">
            Sign Up
          </ion-button>
        </ion-col>



        <ion-col size="6" class="ion-text-right">
          <ion-button color="light" fill="outline" (click)="openLogin()">
            Log In
          </ion-button>
        </ion-col>

        
        <ion-col size="12" class="ion-text-center ion-margin-top ion-margin-bottom">
        <ion-text color="light">
          By signing up, you agree to our <a href="#"
        (click)="openTerms($event)">Terms of Service</a> and <a href="#"
        (click)="openPrivacy($event)">Privacy Policy</a>.
  
        </ion-text>
      </ion-col>
  </ion-row>
</ion-footer>