<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Kids Registration </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-card>
    <ion-item lines="full">
      <ion-label position="floating">Child Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>


    
    <ion-item>
      <ion-label>Years</ion-label>
      <ion-select placeholder="choose years">
        <ion-select-option value="q">4</ion-select-option>
        <ion-select-option value="w">5</ion-select-option>
        <ion-select-option value="e">6</ion-select-option>
      </ion-select>
    </ion-item>

    
  </ion-card>
    <ion-row>
      <ion-col  class="ion-text-center">
        <ion-button type="submit" color="success" shape="round" (click)="openToast()">Register</ion-button>
      </ion-col>
    </ion-row>
  
  </form>
</ion-content>
